:root {
    --main-bg-color: #262626;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
    height: 10vh;
    background-color: var(--main-bg-color);
    color: white;
    display: flex;
}

.title {
    margin-left: 2vw;
}

.mainContainer {
    background-color: var(--main-bg-color);
    height: 90vh;
}
